ExpiresActive On
ExpiresDefault "modification plus 1 month"
ExpiresByType application/javascript "modification plus 1 week"
ExpiresByType application/x-font-ttf "modification plus 1 year"

Header unset ETag
