<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0"
    metadata-complete="true">

    <display-name>Pandit webapp</display-name>
    <description>
         Pandit web application
    </description>

	<listener>
		<listener-class>hu.vidyavana.web.Sessions</listener-class>
	</listener>

	<listener>
		<listener-class>hu.vidyavana.web.StartStop</listener-class>
	</listener>
    
    <servlet>
        <servlet-name>pandit</servlet-name>
        <servlet-class>hu.vidyavana.web.PanditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pandit</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
        <init-param>
            <param-name>-webAllowOthers</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/admin/h2/*</url-pattern>
    </servlet-mapping>

	<session-config>
	    <session-timeout>30</session-timeout>
	    <cookie-config>
	    	<name>sid</name>
	        <max-age>86400</max-age>
	    </cookie-config>
	</session-config>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://sloka.pandit.hu</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
