p
{
	margin: 0;
	padding: 0;
}

.Konyvcim
{
	font-size: 140%;
	text-align: center;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}

.Fejezetszam
{
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 115%;
	text-align: center;
}

.FejezetszamNagy
{
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
}

.Fejezetcim
{
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 120%;
	text-align: center;
	font-weight: bold;
}

.Szakaszcim
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
}

.Szakaszcim3
{
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
}

.Alcim
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

.Alcim3
{
	margin-top: 3em;
	margin-bottom: 0.5em;
	text-align: center;
}

.Versszam
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
}

.Uvaca
{
	text-align: center;
	font-style: italic;
}

.Vers
{
	margin-bottom: 0.5em;
	text-align: left;
	font-style: italic;
}

.Uvaca + .Vers
{
	margin-top: 0;
}

.Proza
{
	margin-bottom: 0.5em;
	text-indent: 1.5em;
	text-align: justify;
	font-style: italic;
}

.Szavak
{
	margin-top: 0.5em;
	text-indent: 1.5em;
	text-align: justify;
}

.Forditas
{
	margin-top: 0.5em;
	text-indent: 1.5em;
	text-align: justify;
	font-weight: bold;
}

.TorzsKezdet, .TorzsKezdetDolt
{
	margin-top: 0.5em;
	text-indent: 1.5em;
	text-align: justify;
}

.BalraKezdet, .TorzsKezdet0Bek
{
	margin-top: 0.5em;
	text-align: justify;
}

.TorzsKoveto, .TorzsKovetoDolt
{
	text-indent: 1.5em;
	text-align: justify;
}

.TorzsKezdetDolt, .TorzsKovetoDolt, .KozepenDolt, .KozepenKovetoDolt, .MegjegyzesKovetoDolt
{
	font-style: italic;
}

.TorzsVersszam
{
	margin-top: 1em;
	text-align: center;
}

.TorzsUvaca
{
	margin-top: 0.5em;
	text-align: center;
	font-style: italic;
}

.TorzsVers
{
	margin-top: 0.5em;
	text-align: left;
	font-style: italic;
}

.Hivatkozas
{
	margin-top: 1em;
	text-align: right;
}

.TorzsVers + .Hivatkozas
{
	margin-top: 0.2em;
}

.KozepenVers, .TorzsKozepenVers
{
	margin-top: 0.5em;
	text-align: center;
	font-style: italic;
}

.TorzsUvaca + .TorzsVers, .TorzsVersszam + .TorzsVers, .TorzsVersszam + .KozepenVers
{
	margin-top: 0;
}

.NemDoltVers
{
	margin-top: 0.5em;
	text-align: left;
	font-style: normal;
}

.Balra
{
	margin-top: 1em;
	text-align: left;
}

.Kozepen, .KozepenDolt
{
	margin-top: 0.5em;
	text-align: center;
}

.KozepenKoveto, .KozepenKovetoDolt
{
	text-align: center;
	margin-top: 0;
}

.Szakaszcim + .KozepenKoveto
{
	margin-top: -1em;
}

.Jobbra
{
	text-align: right;
}

.MegjegyzesKezdet, .MegjegyzesKoveto, .MegjegyzesKovetoDolt, .MegjegyzesKozepen, .MegjegyzesJobbra
{
	margin-left: 3em;
	font-size: 95%;
}

.MegjegyzesKezdet
{
	margin-top: 0.5em;
	text-align: justify;
}

.MegjegyzesKoveto, .MegjegyzesKovetoDolt
{
	text-indent: 1.5em;
	text-align: justify;
}

.MegjegyzesKozepen
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.MegjegyzesJobbra
{
	text-align: right;
}

.Index
{
	/* in0..in4 instead */
}

.in0
{
	text-indent: -2.4em;
	margin-left: 2.4em;
}

.in1
{
	text-indent: -2.4em;
	margin-left: 3.6em;
}

.in2
{
	text-indent: -2.4em;
	margin-left: 4.8em;
}

.in3
{
	text-indent: -2.4em;
	margin-left: 6em;
}

.in4
{
	text-indent: -2.4em;
	margin-left: 7.2em;
}

.TorzsKezdet + .in0, .TorzsKoveto + .in0, .TorzsKezdet + .in1, .TorzsKoveto + .in1 {
	margin-top: 0.5em;
}

.BalraKoveto
{
	text-align: left;
}

.BalraCim
{
	margin-top: 1em;
	text-align: left;
	font-size: 110%;
	font-weight: bold;
}

.BalraCimBek
{
	text-align: left;
	font-size: 110%;
	font-weight: bold;
	margin-left: 2em;
}

.VsWrap1
{
	text-align: center;
	margin: 0 auto;
}

.VsWrap2
{
	display: inline-block;
}

.Csillagok
{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.Ures1
{
	height: 1em;
}

.Ures2
{
	height: 2em;
}

.Ures3
{
	height: 3em;
}

.UjOldal
{
	height: 0;
	line-height: 0;
	page-break-before: always;
}

td
{
	padding-left: 3em;
	text-align: left;
}

.Acarya
{
	margin-top: 1em;
	text-align: left;
	font-weight: bold;
}

.cNormal
{
	font-weight: normal;
	font-style: normal;
}

.Labjegyzet
{
	margin-top: 0.5em;
	text-align: left;
	text-indent: -1.5em;
	margin-left: 1.5em;
}

.LabjegyzetKoveto
{
	text-align: left;
	text-indent: 1.5em;
	margin-left: 1.5em;
}

