@font-face
{
	font-family: "DejaVu Serif";
	font-weight: normal;
	font-style: normal;
	src: url(fonts/DejaVuSerif.ttf);
}

@font-face
{
	font-family: "DejaVu Serif";
	font-weight: normal;
	font-style: italic;
	src: url(fonts/DejaVuSerif-Italic.ttf);
}

@font-face
{
	font-family: "DejaVu Serif";
	font-weight: bold;
	font-style: normal;
	src: url(fonts/DejaVuSerif-Bold.ttf);
}

*
{
	margin: 0 !important;
	padding: 0 !important;
}

body
{
	font-family: "DejaVu Serif", serif;
	margin: 1em !important;
}

.Konyvcim
{
	font-size: 130%;
	text-align: center !important;
	font-weight: bold !important;
	margin-top: 2em !important;
	margin-bottom: 1em !important;
}

.Ref, .Ref a
{
	height: 0;
}

.Fejezetszam
{
	margin-top: 2em !important;
	margin-bottom: 1em !important;
	font-size: 115%;
	text-align: center !important;
}

.Fejezetcim
{
	margin-top: 1.5em !important;
	margin-bottom: 1em !important;
	font-size: 120%;
	text-align: center !important;
	font-weight: bold !important;
}

.Szakaszcim
{
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	text-align: center !important;
	font-weight: bold !important;
}

.Alcim
{
	margin-top: 1em !important;
	margin-bottom: 0.5em !important;
	text-align: center !important;
}

.Versszam
{
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	text-align: center !important;
	font-weight: bold !important;
}

.Uvaca
{
	text-align: center !important;
}

.Vers
{
	margin-bottom: 0.5em !important;
	text-align: left !important;
}

.Uvaca + .Vers
{
	margin-top: 0 !important;
}

.Proza
{
	margin-bottom: 0.5em !important;
	text-indent: 1.5em;
	text-align: justify;
}

.Szavak
{
	margin-top: 0.5em !important;
	text-indent: 1.5em;
	text-align: justify;
}

.Forditas
{
	margin-top: 0.5em !important;
	text-indent: 1.5em;
	text-align: justify;
}

.TorzsKezdet
{
	margin-top: 0.5em !important;
	text-indent: 1.5em;
	text-align: justify;
}

.TorzsKoveto
{
	text-indent: 1.5em;
	text-align: justify;
}

.TorzsUvaca
{
	margin-top: 0.5em !important;
	text-align: center !important;
}

.TorzsVers
{
	margin-top: 0.5em !important;
	text-align: left;
}

.TorzsUvaca + .TorzsVers
{
	margin-top: 0 !important;
}

.Hivatkozas
{
	text-align: right !important;
}

.Balra
{
	margin-top: 0.5em !important;
	text-align: left !important;
}

.Kozepen
{
	margin-top: 0.5em !important;
	text-align: center !important;
}

.Jobbra
{
	text-align: right !important;
}

.MegjegyzesKezdet, .MegjegyzesKoveto, .MegjegyzesKozepen, .MegjegyzesJobbra
{
	margin-left: 3em !important;
	margin-right: 3em !important;
	font-size: 95%;
}

.MegjegyzesKezdet
{
	margin-top: 0.5em !important;
	text-align: justify;
}

.MegjegyzesKoveto
{
	text-indent: 1.5em;
	text-align: justify;
}

.MegjegyzesKozepen
{
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	text-align: center !important;
}

.MegjegyzesJobbra
{
	text-align: right !important;
}

.Index
{
	/* in0..in4 instead */
}

.in0
{
	text-indent: -2.4em;
	margin-left: 2.4em !important;
}

.in1
{
	text-indent: -2.4em;
	margin-left: 3.6em !important;
}

.in2
{
	text-indent: -2.4em;
	margin-left: 4.8em !important;
}

.in3
{
	text-indent: -2.4em;
	margin-left: 6em !important;
}

.in4
{
	text-indent: -2.4em;
	margin-left: 7.2em !important;
}

.VsWrap1
{
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
}

.VsWrap2
{
	display: inline-block;
}
